
/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/
.logo a {color:#666666;}

.logo a:hover,
.logo a:active,
.logo a:focus {color:#0DAAAD;}

.sticky .sticky-logo img {
	width: 130px;
}

.sticky .main-menu > li > a {
  padding-top: 23px;
}

.slider-1-title-2 {
	font-family: CooperHewitt-Medium;
	font-weight: 300;
	font-size: 3em;
	text-transform: none;
}

.mobile-menu-area {
    background: #0DAAAD;
}

.nivo-directionNav a {
    border: 1px solid #c9c9c9;
    color: #c9c9c9;
	display: none;
}

.slider-2.bg-3 {
	background: url(../images/slider/chariots-ultimate-road-trip.jpg);
	background-repeat: no-repeat;
}

.slider-2 {
	padding: 260px 0 260px;
}

.slider-2 .slider-content {
	position: inherit;
}

.slider-1-desc {
    font-size: 1.450em;
}

.find-home-box {
	width: 65%;
	border-bottom: none;
	padding: 15px 30px 10px;
	border-radius: 4px;
	margin: 0 auto;
}

.find-homes div h5{
	color: #ffffff;
	padding: 0 15px;
}

.find-homes input[type="text"] {
	background: #ffffff;
}

.find-car-area::before {
    -webkit-transform: none;
	transform: none;
	border-right: 1px solid gray;
	background: #1f223e;
}

.total-cars {
	color: #0DAAAD;
}



.reserve-bottom-info h5, .reserve-bottom-info a {
	color: #999;
}

.reserve-bottom-info a:hover,
.reserve-bottom-info a:active,
.reserve-bottom-info a:focus {
	color: #0DAAAD;
}

.find-car-area {
	padding-top: 40px;
}

.featured-flat .for-sale {
	display:none;
}

.featured-flat .flat-item-info {
    padding: 15px 5px;
}

.featured-flat .flat-item-info .flat-title-price .price {font-size: 20px;}

.featured-flat-area .section-title-2 h2,
.blog-area .section-title-2 h2,
.features-info .section-title h2 {
	font-family: CooperHewitt-Medium;
	font-weight: 300;
	text-transform: none;
	color: #0DAAAD;
	letter-spacing: 1.5px;
	text-align: center;

}

.section-title-2 p,
.features-info .features-desc p {
	font-size: 1.450em;
	text-align: center;
}

.features-info .features-include .features-include-list h6 {
	font-family: CooperHewitt-Medium;
	color: #0DAAAD;
	letter-spacing: 1.2px;
	font-size: 1.450em;
}

.features-info .features-include .features-include-list p {
	font-size: 1.17em;
}

.features-info .features-include .features-include-list {
	padding: 5px 15px;
	margin-top: 15px;
}

.features-info .features-include .features-include-list img {
	margin-bottom: 20px;
}

.featured-flat .flat-item-image .flat-link > a {
	font-size: 12px;
	padding: 7px 10px 7px;
}

.featured-flat .flat-item-image {
    border: 1px solid #e1e1e1;
}

.featured-flat .flat-item:hover {
	background: #ffffff;
}

.flat-item:hover .flat-item-image::before {
    visibility: hidden;
}

.car-categories .flat-item {
	border: 1px solid #e1e1e1;
}

.flat-title-price h5 a {
	color: #0DAAAD;
}

.featured-flat .flat-item:hover .flat-title-price h5 a {
	color: #FFF;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.featured-flat .flat-item:hover {
    background: #0DAAAD;
	border: 1px solid #0DAAAD;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}



.flat-title-price h5 {
    float: none;
		text-align: center;
		font-weight: bold;
		letter-spacing: 0.5px;
		font-size: 16px;
}

.featured-flat .flat-item:hover .flat-item-info p {
	color: #e1e1e1;
}

.featured-flat .flat-item:hover .flat-item-image {
    border: 1px solid #0DAAAD;
}

.section-title h1, .section-title h2, .section-title h3 {
    font-weight: 400;
}

.brand-area {padding: 2em 2em 0 2em;}

.brand-area h4 {
	font-weight: 400;
	margin: 20px auto;
    margin-left: auto;
	margin-left: 15px;
	font-size: 24px;
	background: #0DAAAD;
	display: inline-block;
	color: #fff;
	padding: 5px;
}

.booking-area {
	margin-bottom: 5em;
}

.call-to-bg.start-earning::before {
	transform: skewX(-20deg);
}

.book-house h2 {
	font-weight: 400;
	padding-left: 15px;
}

.booking-area.bg-1 {
	background: url(../images/bg/bmw-bumper-1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.copyright a b {
	font-weight: 300;
}

.app-screen, .store-links {text-align: center;}

.app-screen img {
	max-width: 350px;
}

.features-area, .features-info.bg-gray {
    background: #f9f9f9;
}

.features-info {
    padding: 100px 0px;
}

.features-info::before {
	display: none;
}

.latest-news-info {
	padding-left:0;
}

.footer-latest-news > li + li {
    padding-top: 10px;
}

.footer-widget .fa-facebook, .footer-widget .fa-instagram, .footer-widget .fa-twitter {
	color: #0DAAAD;
}

.dark-header {
	background: #121212;
}

.smaller-h6 {
	font-size:12px;
	color: #0DAAAD;
}

.blog-carousel .post-title-time h5 {
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

.footer-area.bg-2 {
    background: none;
}

.footer-titel {
    color: #0daaad;
}

/*  ***************************** HOW IT WORKS *********************************  */

#car_renters h3, #car_owners h3 {
    color:#0DAAAD;
    font-weight: 300;
}

#car_renters img, #car_owners img {
	margin-top: 15px;
}

.elements-tab-1 .nav-tabs > li.active > a,
.elements-tab-1 .nav-tabs > li.active > a:focus,
.elements-tab-1 .nav-tabs > li.active > a:hover,
.elements-tab-1 .nav-tabs > li > a:hover,
.nav > li > a:focus, .nav > li > a:hover {
	color:#fff;
	background-color:#0DAAAD;
}

.nav-tabs > li > a:hover {
    border-color: #0DAAAD;
}

.elements-tab-1 .nav {
	padding-left: 300px;
}

.elements-tab-1 .nav-tabs {
    border-bottom: 1px solid #0DAAAD;
}

.renter-area5, .owner-area5 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 25%;
}

.renter-area5 p, .owner-area5 p {font-size:1.3em;}

.renter-area5 a, .owner-area5 a { margin-top: 20px;}

.renter-area5 .btn-hover-1:hover,
.renter-area5 .btn-hover-1:active,
.renter-area5 .btn-hover-1:focus,
.owner-area5 .btn-hover-1:hover,
.owner-area5 .btn-hover-1:active,
.owner-area5 .btn-hover-1:focus {
	color: #0DAAAD;
	border: 1px solid #0DAAAD;
	background: #FFFFFF;
}

.renter-area6, .owner-area6 {text-align: center;}

.renter-cta, .owner-cta {
	border-top: 1px solid #0DAAAD;
	margin-top: 3em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #0DAAAD;
}

.experience .fa.fa-check {
	color: #0DAAAD;
	line-height: 24px;
}

.experience div img {
	text-align: center;
	margin-bottom: 50px;
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
}

.experience h4 {
	color: #0DAAAD;
	margin-bottom: 30px;
}

.experience .contact-links {
	font-size: 18px;
}

.unik-bold {
	font-weight: 400;
	font-size: 24px;
}

/*  ***************************** GET HELP PAGE *********************************  */
.get-in-toch .section-title h3 {color: #0DAAAD;}

.contact-desc p { font-size: 18px;}


/*  ***************************** MEDIA QUERIES *********************************  */

@media (max-width: 767px) {
	.logo {
	  width: 170px;
	}

	.slider-2 {
    padding: 80px 20px;
	}

}

@media (min-width: 767px) {
	.experience .fa.fa-check.col-sm-1 {
    width: 5.333%;
	}

}

@media (max-width: 414px) {
	.container {
	    width: 350px;
	}

	.col-md-12 {
		padding-right: 5px;
		padding-left: 5px;
	}

	.slider-2 {
    padding: 110px 0 80px 0;
	}

	.find-home-box {
    width: 80%;
	}

	.features-info {
    padding: 50px 0px;
	}

	.features-info .section-title h2 {
		font-size: 25px;
	}

	.features-info .features-desc p, .blog-area .section-title-2 p {
    font-size: 1.17em;
	}

	.features-info .features-include .features-include-list {
		text-align: center;
	}

	.start-earning {
		padding-bottom: 100px;
		padding-top: 100px;
	}

	.start-earning .section-title h3 {
    font-size: 30px;
	}

	.book-house .btn-block {
    width: auto;
	}

	.blog-area .section-title-2 h2 {
		font-size: 25px;
	}

	.footer-widget .fa-facebook, .footer-widget .fa-instagram, .footer-widget .fa-twitter {
    color: #0DAAAD;
    margin-bottom: 15px;
	}


}
